extends layout

block content
	script(type='text/javascript', src='/javascripts/chart.js')
	script(type='text/javascript').
		var socket = io.connect('http://localhost');
		
		socket.on('graph', function (data) {
			updateChart(data);
			chart.render();
		});
		
		socket.on('log', function (data) {
			var colorClass = "bg-success";
			if (!data.status) {
				colorClass = "bg-danger";
			}
			$("#activityLog").append('<p class="'+colorClass+'"><b>' + data.type + '</b> ' + data.id + '  ip ' + data.caller + '  ' + data.action + '</p>');
		});
		
		socket.on('played', function(data) {
			console.log("played");
			$("#play").addClass("hide");
			$("#stop").removeClass("hide");
		});

		socket.on('stopped', function(data) {
			console.log("stopped");
			$("#stop").addClass("hide");
			$("#play").removeClass("hide");
		});
		

	.page-header
		h1= title           		
	.row.dashboard-header
		.col-lg-6
			h3 Usage  
				small graph
		.col-lg-6
			h3 Activity log	
				small events
				.pull-right              				
					button#play.btn.btn-default.btn-sm.hide(onclick='play()') Play
						span(class="glyphicon glyphicon-play")
					button#stop.btn.btn-default.btn-sm(onclick='stop()') Stop
						span(class="glyphicon glyphicon-stop")
	.row
		#console.col-lg-6
			#chartContainer(width="400", height="400")
		.col-lg-6
			#activityLog